.tx-activityindicator-content {
	text-align: center;
}

.tx-activityindicator-tstamp {
	font-size: 0.8em;
	color: #999;
	margin-bottom: 10px;
}

.tx-activityindicator-telegram-link {
	  margin-top: 10px;
}

.tx-activityindicator-telegram-link > a {
	color: #0070ff;
}